<h1>Editing Listing</h1>

<%= render 'form' %>

<%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %>
<%= link_to 'Remove', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>