<h1>Edit Your Listing</h1>

<%= render 'form' %>

<%= link_to 'Back', sell_listings_path %> |
<%= link_to 'Remove', @listing, method: :delete, data: { confirm: 'Are you want to remove this listing?' } %>